.app-list {
    .list-group-item {
        position: relative;
        padding: 6px 86px 6px 10px;

        .list-group-item-actions {
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -14px;

            button {
                padding: 0 5px;
                margin-left: 10px;
            }
        }
    }
}